# Webhooks de n8n
VITE_N8N_DIAGNOSIS_URL=https://tu-instancia-n8n.com/webhook/ia-diagnosis
VITE_N8N_REPAIR_URL=https://tu-instancia-n8n.com/webhook/supplier-management
VITE_N8N_CHAT_URL=https://tu-instancia-n8n.com/webhook/ia-custom-chat

# Credenciales Basic Auth para los Webhooks de n8n
VITE_N8N_AUTH_USER=tu_usuario
VITE_N8N_AUTH_PASSWORD=tu_contraseña
